In [7]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame ([[2, 7]]*3,columns=['P', 'Q'])
print("\nOriginal DataFrame:\n", info)
print("\nSquare root of DataFrame:\n", info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum, axis=0))
print("\nSum of each row:\n", info.apply(np.sum, axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [9]:
info=pd.DataFrame([[1.5,7],[2,7,8], [3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n", info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min', 'max']))

Original DataFrame:
      X  Y    Z
0  1.5  7  NaN
1  2.0  7  8.0
2  3.0  6  9.0

Minimum and Maximum of each column:

       X  Y    Z
min  1.5  6  8.0
max  3.0  7  9.0

In [24]:
print("\nDataFrame. Assign function:\n")
d2=pd.DataFrame([['Dale',123], ['Mark',143]], columns = ['Emp','ID'])
print("\nOriginal DataFrame: \n",d2)
d2['Age']=[35,40]
print("\nAdding new column:\n",d2)
d=d2.assign(Sex=['Male','Male'])
print("\nAdding new column:\n",d)

DataFrame. Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new column:
     Emp   ID  Age
0  Dale  123   35
1  Mark  143   40

Adding new column:
     Emp   ID  Age   Sex
0  Dale  123   35  Male
1  Mark  143   40  Male