In [2]:
import pandas as pd 
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
emp=pd.Series(['parker','john','smith','william'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'Id':id}
result=pd.DataFrame(frame)
print("\nends to data frame\n")
print(result)

ends to data frame

       Emp   Id
0   parker  102
1     john  107
2    smith  109
3  william  114

In [9]:
print("\nExtracting one column:\n")
print(result['Emp'])

Extracting one column:

0     parker
1       john
2      smith
3    william
Name: Emp, dtype: object

In [10]:
print("\nAdding New column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding New column:

       Emp   Id  Age
0   parker  102   35
1     john  107   24
2    smith  109   40
3  william  114   38

In [13]:
d2 = pd.DataFrame([['Dale', 123], ['Mark', 143]], columns = ['Emp','ID']) 
print("\nAdding new row values:\n",pd.concat([result,d2]))

Adding new row values:
        Emp     Id   Age     ID
0   parker  102.0  35.0    NaN
1     john  107.0  24.0    NaN
2    smith  109.0  40.0    NaN
3  william  114.0  38.0    NaN
0     Dale    NaN   NaN  123.0
1     Mark    NaN   NaN  143.0

In [14]:
print("\nDeleting particular row:\n", result.drop(1))

Deleting particular row:
        Emp   Id  Age
0   parker  102   35
2    smith  109   40
3  william  114   38